{% extends "layout.html" %}

{% block content %}
  <h1>PIPNet: Pure Isotropic Proton NMR Spectra in Solids using Deep Learning</h1>

  <div class="descr">
    <p>
        PIPNet is a deep learning model used to obtain pure isotropic solid-state NMR spectra.
        The source code for this project can be found in this
        <a href="https://github.com/manucordova/PIPNet", target="_blank">Github repository</a>.
    </p>
    <h2>Abstract of the <a href="https://doi.org/10.1002/anie.202216607", target="_blank">1D paper</a></h2>
    <blockquote>
        The resolution of proton solid-state NMR spectra is usually limited by broadening
        arising from dipolar interactions between spins. Magic-angle spinning alleviates this broadening
        by inducing coherent averaging. However, even the highest spinning rates experimentally accessible
        today are not able to completely remove dipolar interactions. Here, we introduce a deep learning
        approach to determine pure isotropic proton spectra from a two-dimensional set of magic-angle
        spinning spectra acquired at different spinning rates. Applying the model to 8 organic solids yields
        high-resolution <sup>1</sup>H solid-state NMR spectra with isotropic linewidths in the 50-400 Hz range.
    </blockquote>
    <h2>Abstract of the <a href="https://doi.org/10.1002/anie.202301963", target="_blank">2D paper</a></h2>
    <blockquote>
        One key bottleneck of solid-state NMR spectroscopy is that <sup>1</sup>H NMR spectra of organic solids are often
        very broad due to the presence of a strong network of dipolar couplings. We have recently suggested a new
        approach to tackle this problem. More specifically, we parametrically mapped errors leading to residual
        dipolar broadening into a second dimension and removed them in a correlation experiment. In this way
        pure isotropic proton (PIP) spectra were obtained that contain only isotropic shifts and provide the highest
        <sup>1</sup>H NMR resolution available today in rigid solids. Here, using a deep-learning method, we extend the PIP
        approach to a second dimension, and for samples of L-tyrosine hydrochloride and ampicillin we obtain high
        resolution <sup>1</sup>H-<sup>1</sup>H double-quantum/single-quantum dipolar correlation and spin-diffusion spectra with significantly
        higher resolution than the corresponding spectra at 100 kHz MAS, allowing the identification of previously
        overlapped isotropic correlation peaks.
    </blockquote>
  </div>

  <div class="goto">
    <a href="/predict" class="goto-button">
      Predict a PIP spectrum
    </a>
  </div>
{% endblock content %}
