{% extends "layout.html" %}

{% block content %}
  <h1>PIPNet: Fast and Accurate Prediction of Pure Isotropic 1H NMR Spectra in Solids using Deep Learning</h1>

  <div class="descr">
    <p>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec blandit semper sapien non finibus. Suspendisse potenti. In hac habitasse platea dictumst. Pellentesque dignissim est non varius viverra. Duis sit amet felis cursus, lacinia nisl nec, fringilla ipsum. Nullam in scelerisque odio. Sed sodales egestas sodales. Morbi scelerisque fermentum viverra. In auctor eget lectus sit amet tincidunt. Etiam mattis, mauris sit amet cursus posuere, odio dolor porttitor leo, ac ullamcorper magna diam id metus. Proin quam tortor, aliquet non urna at, sagittis vulputate lectus. Nulla fermentum faucibus posuere. Vestibulum euismod ac tortor quis volutpat. Nullam ac mi eu mauris iaculis laoreet id sit amet tellus.</p>
    <p>Fusce arcu erat, pretium id elementum non, consectetur accumsan justo. Nullam sollicitudin risus quis laoreet eleifend. Integer blandit sit amet turpis sit amet ullamcorper. Nulla rhoncus fringilla felis. Nunc vestibulum nisl ligula, sit amet porttitor nibh laoreet ac. Pellentesque sagittis arcu in iaculis porta. Maecenas at nisi vel odio blandit varius nec et nunc. Curabitur a lacus tempor, malesuada quam nec, venenatis sapien. Mauris id libero enim.</p>
    <p>Vivamus luctus sem eu aliquet dapibus. Fusce condimentum tristique massa, sed scelerisque lacus placerat eget. Nam arcu quam, gravida id sodales volutpat, dignissim vitae magna. Nam lacinia lorem rutrum nunc eleifend gravida. Morbi ac condimentum risus. Aenean non elit diam. Curabitur ac consectetur ex.</p>
    <p>Maecenas sem ipsum, rhoncus nec aliquam dapibus, eleifend id urna. Mauris condimentum magna erat, ut auctor quam aliquet vitae. Nunc tincidunt turpis at aliquet condimentum. Pellentesque vehicula iaculis purus. Ut vitae posuere neque, nec auctor metus. Duis ac viverra mi, facilisis blandit diam. Morbi sit amet odio lacus. Phasellus accumsan, justo quis mollis feugiat, lorem mauris ullamcorper elit, et fringilla leo metus vitae diam. Mauris faucibus ullamcorper molestie. Praesent a mattis ipsum. Fusce sit amet maximus sem. Suspendisse quis tincidunt sem, at finibus mi. Pellentesque a gravida tellus, at aliquet velit.</p>
    <p>Praesent accumsan diam eu sem hendrerit finibus. Quisque sodales purus nec ligula efficitur tempor. Sed vel ultricies lacus. Integer non porttitor felis. Sed tempor nec ex quis consequat. Fusce suscipit ligula odio, eu accumsan turpis aliquam at. Morbi non nunc et quam volutpat feugiat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis mi nulla, facilisis eu lectus non, varius dapibus massa. Pellentesque dictum tempus ex vel tempus. Phasellus tempor sapien non consequat efficitur. In hac habitasse platea dictumst. Nam id est eu nulla egestas accumsan. Aenean at est nisl. Fusce id commodo ex. Quisque in velit placerat, faucibus felis eu, imperdiet diam.</p>
  </div>

  <div class="goto">
    <a href="/predict" class="goto-button">
      Predict a PIP spectrum
    </a>
    <a href="/examples" class="goto-button">
      Browse examples
    </a>
  </div>
{% endblock content %}
