{% extends "layout.html" %}

{% block content %}
  <h1>PIPNet: Pure Isotropic Proton NMR Spectra in Solids using Deep Learning</h1>

  <div class="descr">
    <p>
        PIPNet is a deep learning model used to obtain pure isotropic solid-state NMR spectra.
        You can find the paper describing the model and its use at
        <a href="doi.org/10.1002/anie.202216607", target="_blank", rel="noreferrer noopener">this link</a>.
    </p>
    <h2>Abstract of the paper</h2>
    <blockquote>
        The resolution of proton solid-state NMR spectra is usually limited by broadening
        arising from dipolar interactions between spins. Magic-angle spinning alleviates this broadening
        by inducing coherent averaging. However, even the highest spinning rates experimentally accessible
        today are not able to completely remove dipolar interactions. Here, we introduce a deep learning
        approach to determine pure isotropic proton spectra from a two-dimensional set of magic-angle
        spinning spectra acquired at different spinning rates. Applying the model to 8 organic solids yields
        high-resolution 1H solid-state NMR spectra with isotropic linewidths in the 50-400 Hz range.
    </blockquote>
  </div>

  <div class="goto">
    <a href="/predict" class="goto-button">
      Predict a PIP spectrum
    </a>
  </div>
{% endblock content %}
