<! doctype html>

<html>
  <head>
      <title>PIPNet</title>

      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" type="text/css" href="./static/main.css">

      <script type="text/javascript" src="{{ url_for('static', filename='scripts/main.js') }}"></script>
      <script src="{{ url_for('static', filename='scripts/jquery-3.6.0.min.js') }}"></script>

  </head>

  <body onload="HighlightNavbar()">

    <!-- Navigation bar -->
    <header>
      <a href="/" class="header-button" id="nav-home">
        Home
      </a>
      <a href="/predict" class="header-button" id="nav-predict">
        Predict
      </a>
    </header>

    <main role="main" class="container">

      {% block content %}{% endblock %}

    </main>

    {% block scripts %}{% endblock %}

    <!-- Footer -->
    <footer>
        <p>Contact: <a href="mailto:manuel.cordova@epfl.ch">Manuel Cordova</a>, <a href="mailto:lyndon.emsley@epfl.ch">Lyndon Emsley</a></p>
        <p>Ecole Polytechnique Fédérale de Lausanne, CH-1015 Lausanne, Switzerland</p>
    </footer>

  </body>
</html>
