{% extends "layout.html" %}

{% block content %}
  <h1>Predict a PIP spectrum</h1>

  <h2>Upload your dataset</h2>

  <p>
    First, create your Topspin dataset and make sure that only the spectra used for the prediction are present in the dataset.
    Make sure to properly phase and correct the baseline of the spectra. The MAS rate used should be present in the title
    of the experiment in order to automatically retrieve it. For example, a 100 kHz MAS spectrum should be indicated as "100 kHz",
    "100kHz", "100000 Hz", or "100000Hz" in the title of the experiment for the MAS rate to be detected correctly.
    The spectral resolution should be set to around 25 Hz in order to  ensure the correct behaviour of the model.
    You can then zip the dataset and upload it by dragging it below.
  </p>
  <p>
    After this is done, you will be able to choose the range of MAS rates to use for the prediction, as well as the chemical
    shift range. The sensitivity is a parameter used to tune the amplitude of the spectra given to the model. It should generally
    be kept to a value of one, but if you have a very intense peak in your spectra, then increasing the sensitivity might improve
    the prediction for low intensity peaks.
  </p>
  <p>
    You will also be able to choose individually which spectrum to consider to perform the prediction, and to verify and edit
    the MAS rates detected for all spectra.
  </p>
  <p>
    Once this is all done, just click on the "Predict" button to obtain the predicted isotropic spectrum. Three panels will show up.
    The first one displays the MAS spectrum measured at the highest rate, along with the final predicted isotropic spectrum.
    The second shows all spectra used for the prediction as well as the final predicted isotropic spectrum.
    The third panel shows the evolution of the prediction of the isotropic spectrum after the addition of each MAS spectrum.
  </p>
  <p>
    You can download the predictions in JSON format by clicking on the "Download predictions" at the bottom of the page. The 
  </p>

  <form enctype="multipart/form-data" id="upload">
    <div class="upload_form">
      <input type="file" multiple ref="fileInput" name="dataset" id="dataset"></input>
      <div>
        <br>Upload your zipped Topspin dataset here<br>(drag & drop or click to browse)
      </div>
    </div>
  </form>

  <div class="hide" id="onupload">
    <h2 class="in-hiding">Uploading data...</h2>
    <div class="lds-dual-ring in-hiding"></div>
  </div>

  <form class="hide" id="preprocess">

    <h2>Select included spectra, chemical shift range and MAS rates</h2>

    <div class="parameters">
      <label for="rangel">Prediction chemical shift range</label>
      <input type="number" class="numbers" id="rangel" value="20" onchange="change_spectrum(0);">
      <span> - </span>
      <input type="number" class="numbers" id="ranger" value="-5" onchange="change_spectrum(0);">
      <span> ppm </span>
      <br>
      <label for="mas-rangel">Prediction MAS rate range</label>
      <input type="number" class="numbers" id="mas-rangel" value="30" min="0" onchange="update_sel_mas();">
      <span> - </span>
      <input type="number" class="numbers" id="mas-ranger" value="100" min="0" onchange="update_sel_mas();">
      <span> kHz </span>
      <br>
      <label for="sens">Prediction sensitivity (recommended value: 1)</label>
      <input type="range" id="sens" value="1" min="0" max="10" step="0.1" oninput="this.nextElementSibling.value = this.value;">
      <input type="number" class="numbers" value="1" min="0" max="10" onchange="this.previousElementSibling.value = this.value;">
    </div>

    <div class="spectra" id="spectra">
      <a class="prev" onclick="change_spectrum(-1);">&#10094;</a>
      <a class="next" onclick="change_spectrum(1);">&#10095;</a>
    </div>

    <div class="goto">
      <input type="button" id="predict" value="Predict" onclick="run_prediction();"></input>
    </div>

  </form>

  <div class="hide" id="onpredict">
    <h2 class="in-hiding">Predicting PIP spectrum...</h2>
    <div class="lds-dual-ring in-hiding"></div>
  </div>

  <div class="hide" id="preds">
    <h2>PIPNet predictions</h2>
    <div class="preds">
      <div class="spectrum_fig" id="final-pred"></div>
      <div class="spectrum_fig" id="final-pred-all-specs"></div>
      <div class="evolving-pred">
        <a class="prev" onclick="change_pred(-1);">&#10094;</a>
        <a class="next" onclick="change_pred(1);">&#10095;</a>
        <div class="spectrum_fig" id="evolving-pred"></div>
      </div>
    </div>
    <div class="goto">
      <a id="download" class="goto-button">Download predictions</a>
    </div>
  </div>

  <div class="hide" id="errormsg"></div>


{% endblock content %}

{% block scripts %}
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <script type="text/javascript" src="{{ url_for('static', filename='scripts/predict.js') }}"></script>

{% endblock scripts %}
